@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merienda:wght@300..900&family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* asset */
:root {
  --body: #F0F0F0;
  --oren: #FD7E33;
  --merah: #F2291E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background: var(--body);
}


/* style navbar */

header nav .navbar-brand img {
  width: 6em;
}

header nav .container i {
  color: var(--merah);
}

header nav .navbar-brand h1 {
  font-family: "Kaushan Script", serif;
  font-size: 2.8em;
}

header nav .navbar-brand h1 span {
  font-family: "Kaushan Script", serif;
  color: var(--merah);
}

header nav #navbarOffcanvasLg ul li a {
  margin-right: 7px;
  transition: .5s;
  position: relative;
}

header nav #navbarOffcanvasLg ul li a::after {
  content: '';
  position: absolute;
  height: 1.2px;
  bottom: 5px;
  left: 0;
  right: 0;
  background: var(--merah);
  transform: scaleX(0);
  transition: .5s;
}

header nav #navbarOffcanvasLg ul li a:hover {
  color: var(--merah);
}

header nav #navbarOffcanvasLg ul li a:hover::after {
  transform: scaleX(1);
}

header nav #navbarOffcanvasLg ul a i {
  font-size: 1.3em;
  margin-left: 7em;
}

/* style main */
main {
  margin-top: 4em;
}

main .page1 .pembuka {
  font-family: "Merienda", serif;
  font-size: 3.8em;
  font-weight: bold;
}

main .page1 .pembuka span {
  font-family: "Merienda", serif;
  color: var(--oren);
}

main .page1 p {
  font-size: 1.2em;
  letter-spacing: .6px;
}

/* style tombol */ 
.tombol {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.2em 1.5em 0.2em 1.2em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(242, 41, 30, 1) 0%,
    rgba(253, 126, 51, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--oren);
  letter-spacing: 0.05em;
  border-radius: 20em;
  width: 41%;
}

.tombol:hover {
  box-shadow: 0 0.5em 1.5em -0.5em var(--oren);
}

.tombol:active {
  box-shadow: 0 0.3em 1em -0.5em var(--oren);
}

main .page1 #carouselExampleSlidesOnly {
  margin-top: -10em;
  width: 90%;
}

/* main .page1 #carouselExampleSlidesOnly .carousel-item img {
  width: ;
} */










@media screen and (max-width: 650px) {
  header nav .navbar-brand {
    font-size: 100%;
  }

  #navbarOffcanvasLg {
    width: 60%;
  }

  #navbarOffcanvasLg ul {
    margin: 2em 0;
  }

  #navbarOffcanvasLg ul li {
    margin: 1em 0;
  }
  #navbarOffcanvasLg ul a i {
    display: none;
  }
}